* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height:fit-content;
    margin: auto;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
}

.btn {
    border: none;
    width: 80px;
    height: 30px;
    background-color:mediumorchid;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}